mixin c-series-list(data)
	div(class='' + data.wrapperclass ? data.wrapperclass : '')
		each listitem in data.listitems
			div(class='' + data.blockclass ? data.blockclass : '')
				a.c-series-list-item__image.h-object-fit(href="javascript:void(0)")
					img(src="s/images/tmp_file/series-list/#{listitem.image}.jpg", alt="image")
					span.c-series-list-item__duration= listitem.duration
					+svg('icon-play-control')
				.c-series-list-item__info
					a(href="javascript:void(0)").c-series-list-item__info-name= listitem.name
					.c-series-list-item__info-tag__wrapper
						.c-series-list-item__info-tag
							+svg('icon-calendar')
							span.tag-date= listitem.date
						.c-series-list-item__info-tag
							+svg('icon-views')
							span.tag-views= listitem.views
					if listitem.description
						span.c-series-list-item__info-description= listitem.descriptiontext
	if data.slickcontrol
		.slick-control__wrapper(class='' + data.slickcontrolclass ? data.slickcontrolclass : '')
			.slick-control-left(class='' + data.leftcontrol)
				+svg('icon-slick-control')
			.slick-control-right(class='' + data.rightcontrol)
				+svg('icon-slick-control')
	if data.seeall
		a(href="javascript:void(0)").see-all-videos.bordered Смотреть все новинки